/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	background: #FFFEF8;
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0 139px 0;
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;
	gap: 44px;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
}

li a {
	color: #000;
	text-decoration: none;
}

.loginBold {
	font-weight: 600;
}

#introduction {
	display: flex;
	align-items: center;
	margin-bottom: 139px;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	background: none;
	text-align: center;
	margin-bottom: 51px;
}

/************************************************** FILTRES **************************************************/

.blocForm {
	margin-bottom: 50px;
}

.filtres {
	width: 585px;
	height: 38px;
	justify-content: space-between;
	gap: 10px;
}

.bouton__radio {
	appearance: none;
	position: absolute;
	margin: 0;
}

.bouton {
	width: 100%;
	border: solid 1px #1D6154;
	border-radius: 60px;
	align-items: center;
}

.bouton__radio:checked + .bouton {
	background: #1D6154;
}

.blocForm,
.filtres,
.bouton {
    display: flex;
}

.blocForm,
.bouton {
	justify-content: center;
}

.bouton--appartements {
	padding: 0 10px;
}

.bouton--hotels_restaurants {
	padding: 0 14.5px;
}

.categorie {
	color: #1D6154;
	font-family: 'Syne';
	font-size: 16px;
	font-weight: 700;
	white-space: nowrap;
}

.bouton__radio:checked + .bouton .categorie {
	color: #FFFFFF;
}

.bouton,
.categorie {
	background: none;
}

/************************************************** FIN FILTRES **************************************************/

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
	margin-bottom: 57px;
}

.gallery img {
	width: 100%;

}
#contact,
#login {
	width: 50%;
	margin: auto;
}
#contact > *,
#login > * {
	text-align: center;

}
#contact h2,
#login h2 {
	height: 36px;
	margin-bottom: 9px;
}

#contact p {
	height: 19px;
	margin-bottom: 38px;
}

#contact form,
#login form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input,
#login input {
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#name,
#email,
#password {
	margin-bottom: 40px;
	height: 50px;
}

#contact label,
#login label {
	margin-bottom: 7px;
}

#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	margin-bottom: 40px;
}

.contactButton,
.loginButton {
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background: #1D6154;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

.contactButton__bloc,
.loginButton__bloc {
	display: flex;
	justify-content: center;
}

.contactButton,
.loginButton {
	height: 36px;
}

.contactButton:hover,
.loginButton:hover {
	background: #0E2F28;
}

.contactButton {
	margin-bottom: 45px;
}

footer nav ul {
	height: 60px;
	display: flex;
	justify-content: flex-end;
	align-items: flex-start;
	padding: 24px 107px 0 0;
}

/************************************************** CONNEXION **************************************************/

#login {
	display: flex;
	flex-direction: column;
	margin-bottom: 355px;
}

.errorMessage {
	color: #ff0000;
	display: none;
	margin-bottom: 40px;
}

.loginButton {
	margin-bottom: 28px;
}

.forgotPassword__bloc {
	width: 139px;
	height: 16px;
	margin: 0 auto;
}

.forgotPassword {
	color: #3D3D3D;
}

.errorMessage,
.forgotPassword {
	font-family: 'Work Sans';
	font-size: 14px;
	font-weight: 500;
}

/************************************************** FIN CONNEXION **************************************************/

/************************************************** MODE ÉDITION **************************************************/

.editMode {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 11.42px;
}

.editMode i {
	width: 15.58px;
}

.editMode p {
	font-family: 'Work Sans' ;
}

.editMode__inactive {
	max-width: 100vw;
	height: 59px;
	right: 50%;
	left: 50%;
	margin-right: -50vw;
	margin-bottom: 38px;
	margin-left: -50vw;
}

.editMode__inactive p {
	font-size: 16px;
}

.editMode__inactive,
.editMode__inactive i,
.editMode__inactive p {
	background: #000;
}

.editMode__inactive i,
.editMode__inactive p {
	color: #fff;
}

.editMode__projets {
	height: 36px;
	text-align: center;
	margin-bottom: 92px;
}

.editMode__inactive,
.editMode__projets {
	position: relative;
}

.editMode__projets h2 {
	display: inline-block;
}

.editMode__link {
	color: #000;
	text-decoration: none;
}

.editMode__active {
	cursor: pointer;
	position: absolute;
	top: 50%;
	left: calc(50% + (192.25px / 2) + 31px);
	transform: translateY(-50%);
}

.editMode__active p {
	font-size: 14px;
}

.editMode__inactive p,
.editMode__active p {
	font-weight: 400;
}

.editMode__projets,
.editMode__active,
.editMode__active i,
.editMode__active p {
	background: none;
}

/************************************************** FIN MODE ÉDITION **************************************************/

/************************************************** MODALE **************************************************/

.relativeBody::before {
	position: unset;
}

.relativeBody__edit::before {
	content: "";
	background: rgba(0, 0, 0, 0.3);
	position: fixed;
	inset: 0;
	pointer-events: none;
}

.overlayModal__edit {
	top: 660px;
	left: calc(50% - 315px);
}

.modal {
	background: #fff;
	width: 630px;
	border-radius: 10px;
	justify-content: space-between;
	padding-top: 60px;
	padding-bottom: 45px;
	margin: 0;
}

.addPhoto__arrow--active {
	width: 21px;
	height: 21px;
	left: 30px;
}

.fa-arrow-left {
	font-size: 21px;
}

.crossModal {
	width: 24px;
	height: 24px;
	right: 30px;
}

.addPhoto__arrow--active,
.crossModal {
	top: 26px;
}

.fa-xmark {
	font-size: 16px;
}

.fa-arrow-left,
.fa-xmark {
	color: #000;
}

.modal__title {
	font-size: 26px;
	height: 30px;
}

.galleryModal__title {
	margin-bottom: 46px;
}

.addPhoto__title--active {
	margin-bottom: 36px;
}

.galleryModal {
	width: 420.06px;
	height: 365.71px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	gap: 29px 9px;
	margin-bottom: 67.3px;
}

.galleryModal__photo {
	width: 76.86px;
}

.galleryModal__trash {
	background: #000;
	width: 17px;
	height: 17px;
	border-radius: 2px;
	top: 6px;
	right: 4.86px;
}

.fa-trash-can {
	font-size: 10.29px;
}

.addPhoto__form input {
	padding-left: 16px;
}

.modal__title,
.addPhoto__form input {
	font-weight: 400;
}

.addPhoto__form--active {
	height: auto;
	padding-bottom: 0;
}

.addPhoto__blankBlock {
	background: #E8F1F6;
	border-radius: 3px;
	margin-bottom: 30px;
}

.modal,
.addPhoto__form--active,
.addPhoto__blankBlock {
	flex-direction: column;
}

.addPhoto__fileTypes {
	color: #444444;
	font-size: 10px;
	height: 12px;
	margin-bottom: 19px;
}

.fa-image {
	color: #B9C5CC;
	font-size: 68.14px;
	margin-top: 22.5px;
	margin-bottom: 12.88px;
}

.addPhoto__button {
	color: #306685;
	background: #CBD6DC;
	width: 173px;
	border-radius: 50px;
	margin-bottom: 7px;
}

.modal,
.crossModal,
.galleryModal__trash,
.addPhoto__blankBlock,
.addPhoto__button {
	align-items: center;
}

.addPhoto__photo--active {
	height: 169px;
}

#addPhoto__addTitle--input {
	margin-bottom: 21px;
}

.modal__title,
.addPhoto__form input,
.addPhoto__button,
.addPhoto__addTitle--label,
.addPhoto__selectCategory--label {
	font-family: 'Work Sans';
}

.addPhoto__button,
.addPhoto__addTitle--label,
.addPhoto__selectCategory--label {
	font-weight: 500;
}

.addPhoto__addTitle--label,
.addPhoto__selectCategory--label {
	color: #3D3D3D;
	height: 16px;
	margin-bottom: 10px;
}

#addPhoto__selectCategory--input {
	appearance: none;
	margin-bottom: 47px;
}

#addPhoto__addTitle--input,
#addPhoto__selectCategory--input {
	height: 51px;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

.relativeBody,
.modal,
.galleryModal__work,
#addPhoto__selectCategory--input {
	position: relative;
}

.fa-chevron-down {
	color: #6C6C6C;
	font-size: 11.18px;
	width: 11.18px;
	height: 11.18px;
	top: 479.01px;
	right: calc(105px + 19.82px);
}

.overlayModal__edit,
.addPhoto__arrow--active,
.crossModal,
.galleryModal__photo,
.galleryModal__trash,
.fa-chevron-down {
	position: absolute;
}

.bottomModal {
	border-top: solid 1px #B3B3B3;
	padding-top: 38px;
}

.crossModal,
.addPhoto__title--active,
.galleryModal__trash,
.addPhoto__form--active,
.addPhoto__button,
.bottomModal {
	justify-content: center;
}

.modal,
.crossModal,
.addPhoto__title--active,
.galleryModal__work,
.galleryModal__trash,
.addPhoto__form--active,
.addPhoto__blankBlock,
.addPhoto__button,
.bottomModal {
	display: flex;
}

.addPhoto__form--active,
.bottomModal {
	width: 420px;
}

.overlayModal,
.addPhoto__arrow,
.galleryModal__title--inactive,
.addPhoto__title,
.galleryModal--inactive,
.addPhoto__form,
.fa-image--inactive,
.addPhoto__button--inactive,
#addPhoto__addFile,
.addPhoto__fileTypes--inactive,
.addPhoto__photo,
.galleryModal__button--inactive,
.addPhoto__validButton {
	display: none;
}

.overlayModal__edit,
.addPhoto__arrow--active,
.addPhoto__photo--active,
.addPhoto__validButton--active {
	display: block;
}

.overlayModal__edit,
.addPhoto__arrow--active,
.fa-arrow-left,
.crossModal,
.fa-xmark,
.modal__title,
.galleryModal,
.fa-trash-can,
.addPhoto__form--active,
.addPhoto__fileTypes,
.fa-image,
.addPhoto__addTitle--label,
.addPhoto__selectCategory--label,
.fa-chevron-down,
.bottomModal,
.galleryModal__button,
.addPhoto__validButton--active {
	background: none;
}

.addPhoto__arrow--active,
.crossModal,
.addPhoto__button,
.galleryModal__button,
.addPhoto__validButton--green {
	cursor: pointer;
}

.addPhoto__form input,
.addPhoto__button,
.addPhoto__addTitle--label,
.addPhoto__selectCategory--label,
.galleryModal__button,
.addPhoto__validButton--active {
	font-size: 14px;
}

.addPhoto__button,
.galleryModal__button,
.addPhoto__validButton--active {
	height: 36px;
}

.galleryModal__button,
.addPhoto__validButton--active {
	font-family: 'Syne';
	font-weight: 700;
	width: 237px;
	border-radius: 60px;
}

.addPhoto__arrow--active,
.crossModal,
#addPhoto__addTitle--input,
#addPhoto__selectCategory--input,
.galleryModal__button,
.addPhoto__validButton--active {
	border: none;
}

.fa-trash-can,
.galleryModal__button,
.addPhoto__validButton--active {
	color: #fff;
}

.addPhoto__validButton--grey {
	background: #A7A7A7;
}

.galleryModal__button,
.addPhoto__validButton--green {
	background: #1D6154;
}

/************************************************** FIN MODALE **************************************************/